{% extends "site_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				{% if isAdd and ftag == 1 %}
				<form role="form" method="post" action="{% url 'mainsite:addCompany_admin' 'seek' %}" enctype="multipart/form-data">
				{% elif isAdd and ftag == 2 %}
				<form role="form" method="post" action="{% url 'mainsite:addCompany_admin' 'sale' %}" enctype="multipart/form-data">
				{% elif not isAdd and ftag == 1 %}
				<form role="form" method="post" action="{% url 'mainsite:editCompany_admin' 'seek' company_id%}" enctype="multipart/form-data">
				{% elif not isAdd and ftag == 2 %}
				<form role="form" method="post" action="{% url 'mainsite:editCompany_admin' 'sale' company_id%}" enctype="multipart/form-data">
				{% endif %}
					<div class="form-group">{% csrf_token %}</div>
					<div class="form-group">
						<label>Full Name</label>
						{% if cp_form.name.errors %}
							<div class="alert alert-danger" role="alert">
						    <ul>
						    {% for error in cp_form.name.errors %}
						        <li>{{ error|escape }}</li>
						    {% endfor %}
						    </ul>
						    </div>
						{% endif %}
						{% render_field cp_form.name class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Role</label>
						<select class="form-control" disabled="" id="id_role" name="role">
								<option value="">---------</option>
								<option value="1" selected="selected">Company</option>
								<option value="2">Investor</option>
								<option value="3">Supporter</option>
						</select>
					</div>
					<div class="form-group">
						<label>Purpose</label>
						<select class="form-control" disabled="" id="id_goal" name="goal">
							<option value="">---------</option>
							<option value="2" {% if ftag == 2 %}selected="selected"{% endif %}>Company for Sale</option>
							<option value="1" {% if ftag == 1 %}selected="selected"{% endif %}>Look for Funding</option>
						</select>
					</div>
					<div class="form-group">
						<label>Industry</label>
						{{ cp_form.category.errors }} 
						{% render_field cp_form.category %}	
					</div>
					<div class="form-group">
						<label>Country</label>
						{% render_field cp_form.country class="form-control" %}	
					</div>
					<div class="form-group">
						<label>State/ Province</label>
						{% render_field cp_form.state class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Introduction</label>
						{% render_field cp_form.description class="form-control" %}	
					</div>
					{% if ftag == 1 %}
					<div class="form-group">
						<label>Capital Invest</label>
						{% render_field cp_form.capitalInvest class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Revenue</label>
						{% render_field cp_form.revenue class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Current Net Income</label>
						{% render_field cp_form.curNet class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Year Established</label>
						{% render_field cp_form.yearEstablished class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Employees</label>
						{% render_field cp_form.employees class="form-control" %}	
					</div>
					{% endif %}
					{% if ftag == 2 %}
					<div class="form-group">
						<label>Revenue</label>
						{% render_field cp_form.revenue class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Sales</label>
						{% render_field cp_form.sales class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Profit</label>
						{% render_field cp_form.profit class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Year Established</label>
						{% render_field cp_form.yearEstablished class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Employees</label>
						{% render_field cp_form.employees class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Asking Price</label>
						{% render_field cp_form.price class="form-control" %}	
					</div>
					{% endif %}
					<div class="form-group">
						<label>Contact Name</label>
						{% render_field cp_form.contactName class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Contact Email</label>
						{% render_field cp_form.contactEmail class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Phone Number</label>
						{% render_field cp_form.phone_number class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Website</label>
						{% render_field cp_form.website class="form-control" %}	
					</div>
					<!-- <input type="file" name="myfiles" multiple> -->
					<input type="submit" class="btn btn-lg btn-success btn-block" value="Submit" />
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}