{% extends "site_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<form role="form" method="post" action="{% url 'mainsite:editProfile_company' %}" enctype="multipart/form-data">
					<div class="form-group">{% csrf_token %}</div>
					<div class="form-group">
						<label>Full Name</label>
						{% if profile_form.fullname.errors %}
							<div class="alert alert-danger" role="alert">
						    <ul>
						    {% for error in profile_form.fullname.errors %}
						        <li>{{ error|escape }}</li>
						    {% endfor %}
						    </ul>
						    </div>
						{% endif %}
						{% render_field profile_form.fullname class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Role</label>
						{% render_field profile_form.role class="form-control" disabled=""%}
						<input type = "hidden" name="role" value="{{profile_form.role.value}}" readonly=""></input>	
					</div>
					<div class="form-group">
						<label>Goal</label>
						{% render_field profile_form.goal class="form-control" disabled=""%}
						<input type = "hidden" name="goal" value="{{profile_form.goal.value}}" readonly=""></input>
					</div>
					<div class="form-group">
						<label>Industry</label>
						{{ cp_form.category.errors }} 
						{% render_field cp_form.category %}	
					</div>
					<div class="form-group">
						<label>Contry</label>
						{% render_field profile_form.country class="form-control" %}	
					</div>
					<div class="form-group">
						<label>State/ Province</label>
						{% render_field profile_form.state class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Introduction</label>
						{% render_field cp_form.description class="form-control" %}	
					</div>
					{% if ftag == 1 %}
					<div class="form-group">
						<label>Capital Invest</label>
						{% render_field cp_form.capitalInvest class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Revenue</label>
						{% render_field cp_form.revenue class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Current Net Income</label>
						{% render_field cp_form.curNet class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Year Established</label>
						{% render_field cp_form.yearEstablished class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Employees</label>
						{% render_field cp_form.employees class="form-control" %}	
					</div>
					{% endif %}
					{% if ftag == 2 %}
					<div class="form-group">
						<label>Revenue</label>
						{% render_field cp_form.revenue class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Sales</label>
						{% render_field cp_form.sales class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Profit</label>
						{% render_field cp_form.profit class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Year Established</label>
						{% render_field cp_form.yearEstablished class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Employees</label>
						{% render_field cp_form.employees class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Asking Price</label>
						{% render_field cp_form.price class="form-control" %}	
					</div>
					{% endif %}
					<div class="form-group">
						<label>Contact Name</label>
						{% render_field cp_form.contactName class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Contact Email</label>
						{% render_field cp_form.contactEmail class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Phone Number</label>
						{% render_field cp_form.phone_number class="form-control" %}	
					</div>
					<div class="form-group">
						<label>Website</label>
						{% render_field cp_form.website class="form-control" %}	
					</div>
					<!-- <input type="file" name="myfiles" multiple> -->
					<input type="submit" class="btn btn-lg btn-success btn-block" value="Submit" />
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}