{% extends "site_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block body %}
{% if ftag == 1 %}
<div class="col-md-8">
	<div class="panel panel-default">
		<div class="panel-heading">{{profile.fullname}}</div>
		<div class="panel-body">
			<p class="text-right">{{profile.goal}}</p>
			<hr>
			<p>{{cp.description}}</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Summary</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Capital Invest</th>
						<th>Revenue</th>
						<th>Surrent Net Income</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ cp.capitalInvest}}</td>
						<td>{{ cp.revenue}}</td>
						<td>{{ cp.curNet}}</td>
					</tr>
				</tbody>
			</table>
			<table class="table">
				<thead>
					<tr>
						<th>Year Established</th>
						<th>Employees</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ cp.companyAge}}</td>
						<td>{{ cp.employees}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}
{% if ftag == 2 %}
<div class="col-md-8">
	<div class="panel panel-default">
		<div class="panel-heading">{{profile.fullname}}</div>
		<div class="panel-body">
			<p class="text-right">{{profile.goal}}</p>
			<hr>
			<p>{{cp.description}}</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Summary</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Revenue</th>
						<th>Sales</th>
						<th>Profit</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{cp.revenue}}</td>
						<td>{{cp.sales}}</td>
						<td>{{cp.profit}}</td>
					</tr>
				</tbody>
			</table>
			<table class="table">
				<thead>
					<tr>
						<th>Asking Price</th>
						<th>Year Established</th>
						<th>Employees</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{cp.price}}</td>
						<td>{{cp.yearEstablished}}</td>
						<td>{{cp.employees}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endif %}
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">Contact</div>
		<div class="panel-body">
			<p>Contact Name<span class="pull-right" style="color:#2d68b2;">{{cp.contactName}}</span></p>
			<hr>
			<p>Phone<span class="pull-right" style="color:#2d68b2;">{{cp.phone_number}}</span></p>
			<hr>
			<p>Email<span class="pull-right" style="color:#2d68b2;">{{cp.contactEmail}}</span></p>
			<hr>
			<p>Website<span class="pull-right" style="color:#2d68b2;">{{cp.website}}</span></p>
		</div>
	</div>
	<a href="{%url 'postman_write' %}{{profile.user.username}}" class="btn btn-outline btn-success col-md-12">Contact</a>
</div>
{% endblock %}