{% load i18n %}
{% load account_tags %}
{% load postman_tags %}

<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> {% user_display request.user %} <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="{% url 'account_settings' %}"><i class="fa fa-cog fa-fw"></i> {% trans "Settings" %}</a>
            </li>
            <li class="divider"></li>
            <li><a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off fa-fw"></i> {% trans "Log out" %}</a>
            </li>
          </ul>
        </li>
        <li>
            <a href="{% url 'mainsite:dashboard' %}"><i class="fa fa-tachometer"></i> {% trans "Dashboard" %}</a>
        </li>
        <!-- .dropdown-messages -->
        <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-envelope fa-fw"></i>  
                 {% trans "Messages" %}
                 <i class="fa fa-caret-down"></i>
                <!-- Dropdown <span class="caret"></span> -->
              </a>
              <ul class="dropdown-menu dropdown-messages">
                <li>
                  <a href="{% url 'postman_inbox' %}">
                    <div>
                      <i class="fa fa-comment fa-fw"></i>
                      {% trans "Inbox" %}
                      {% postman_unread as unread_count %}
                      {% if unread_count %}
                      <!-- <span class="pull-right text-muted small"> -->
                      <span class = "badge pull-right">
                        {{ unread_count }}
                      </span>
                      {% endif %}
                    </div>  
                  </a>
                </li>
                <li class="divider"></li>

                <li>
                  <a href="{% url 'postman_sent' %}">
                    <div>
                      <i class="fa fa-envelope fa-fw"></i>
                      {% trans "Messages Sent" %}
                    </div>  
                  </a>
                </li>
                <li class="divider"></li>

                <li>
                  <a href="{% url 'postman_write' %}">
                    <div>
                      <i class="fa fa-twitter fa-fw"></i>
                      {% trans "Write Message" %}
                    </div>  
                  </a>
                </li>
                <li class="divider"></li>

                <li>
                  <a href="{% url 'postman_archives' %}">
                    <div>
                      <i class="fa fa-archive fa-fw"></i>
                      {% trans "Archives" %}
                    </div>  
                  </a>
                </li>
                <li class="divider"></li>

                <li>
                  <a href="{% url 'postman_trash' %}">
                    <div>
                      <i class="fa fa-bitbucket fa-fw"></i>
                      {% trans "Trash" %}
                    </div>  
                  </a>
                </li>
              </ul>
            </li>
            <!-- /.dropdown-messages -->
    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
