{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block topbar_base %}
<header>
	<div class="navbar navbar-inverse {% block navbar_class %}navbar-fixed-top{% endblock %}">
		<div class="container">
			{% block topbar %}
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="fa fa-bars"></span>
				</button>
				{% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">Kerrgo</a>{% endblock %}
			</div>
			<div class="collapse navbar-collapse navbar-responsive-collapse">
				{% block nav %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Companies<span class="caret"></span></a>
					  <ul class="dropdown-menu">
					  	<li><a href="{% url 'mainsite:browseCompany' 'all' %}">All Companies</a></li>
					  	<li><a href="{% url 'mainsite:browseCompany' 'seek' %}">Seek Investor</a></li>
					  	<li><a href="{% url 'mainsite:browseCompany' 'sale' %}">Sell Company</a></li>
					  </ul>
					</li>
					<li><a href="{% url 'mainsite:browseInvestor' 'ALL' %}">Investors</a></li>
				</ul>
				{% endblock %}
				{% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
			</div>
			{% endblock %}

		</div>
		{% block nav_sidebar %}{% endblock %}
	</div>
</header>
{% endblock %}

